body {
  background-color: rgb(72, 72, 173);
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 100px auto 0px auto;
  padding: 10px auto;
}

.version {
  font-family: sans-serif;
  text-align: center;
}
